<!DOCTYPE html>
<html>
<head>
    <script src="../../bower_components/platform/platform.js"></script>
    <link href="../../bower_components/polymer/polymer.html" rel="import">
</head>
<body>
    <!--
	/**
	 * @author	<%= autor %>
     * @version	<%= hoy.getFullYear() + '-' + ( hoy.getMonth() + 1 ) + '-' + hoy.getDate() %>
     */
	-->
    <link href="<%= componente %>.html" rel="import">
    <polymer-element name="prueba-<%= componenteSlugish %>">
        <template>
            <style>
            
            </style>

            <<%= customTag %>-<%= componenteSlugish %>></<%= customTag %>-<%= componenteSlugish %>>
        </template>

        <script>
            ( function() {
                Polymer( 'prueba-<%= componenteSlugish %>', {
                
                });
            })();
        </script>
    </polymer-element>
     
    <prueba-<%= componenteSlugish %>></prueba-<%= componenteSlugish %>>
</body>
</html>