<!DOCTYPE html>
<html>
    <head>
        <script src='../bower_components/platform/platform.js'></script><% if( puerto ) { %>
        <script src="/socket.io/socket.io.js" ></script>
        <% } %>
        <link rel="import" href="<% if ( puerto ) { %>html/<% } %><%= nombreApp %>/<%= nombreApp %>.html" >

        <title><%= _.capitalize(nombreApp) %></title>

    </head>
    <body>
        <<%= customTag %>-<%= componenteSlugish %>></<%= customTag %>-<%= componenteSlugish %>>
        <% if ( esChromeApp ) { %>
        <script src="index.js"></script>
        <% } else { %>
        <script><% if( puerto ) { %>
            var ws = io.connect( '/' );

            ws.on( 'listo', function() {
                document.querySelector( 'body' ).insertAdjacentHTML( 'beforeend', '<p>Conectado con el WebSocket!</p>');
                document.querySelector( 'body' ).insertAdjacentHTML( 'beforeend', '<p>Connected to WebSocket!</p>');
            });
            <% } %>
        </script><% } %>
    </body>
</html>
